
 {#
    Main wrapper for standard pages
    -------------------------
#}
{% extends "_layouts/_base.twig" %}
{% block body %}
	<main id="main" class="" tabindex="-1">
		{% block content %}{% endblock %}
	</main>
{% endblock %}